@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Gruppo&display=swap');
body{}
*{}
*::before{}
*::after{
  box-sizing: border-box;
}


/* custom properties - update these for your own design */

:root {
  /* this sets up custom properties */
  --ff-primary: 'Gruppo', serif;
  --ff-secondary: 'Cormorant SC', serif;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light-rgb: 235, 217, 200;
  --clr-light: #ebd9c8;
  --clr-dark-rgb: 56, 54, 65;
  --clr-dark: #383641;
  --clr-accent: #F6A472;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
        0.125em 0.125em 0.25em rgba(0,0,0,.25);
}

/* change below if not working for you */
@media (min-width: 800px) {
  :root{
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.2rem;
  }
}













/* general styles */
html{
  scroll-behavior: smooth;
}
body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin:0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 4.8em 2em;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: var(--fw-bold);
}

/* used for tabbing through pages */
:focus {
  outline: 2px solid var(--clr-accent);
  outline-offset: 3px;
}














/* btns */

.btn {
  display: inline-block;
  padding: .5em 2.5em;
  background: var(--clr-accent);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}












/* typography */

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {font-size: var(--fs-h1)};
h2 {font-size: var(--fs-h2)};
h3 {font-size: var(--fs-h3)};

.section__title {
  /* .margin-bottom: .25em; */
}

.section__title--intro{
  font-weight: var(--fs-reg);
}

.section__title--intro strong{
  display: block;
  /* font-family: var(--ff-secondary); */
  font-size: var(--fs-h1);
}

.section__subtitle {
  margin:0;
  font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
  background: var(--clr-accent);
  padding: 0em .75em;
  font-family: var(--cls-dark);
  margin-bottom: 1em;
  box-shadow: var(--bs);
}

.section__subtitle--work {
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
  margin-bottom: 1em;
}



/* header */
header{
  /* background-color: green; */
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 0 0 0 1em;
}

.logo {
  max-width: 50px;
  /* background-color: blue; */
  /* position:inherit; */
  /* padding: 1em; */
}

.nav {
  position: fixed;
  background: var(--clr-dark);
  color: var(--clr-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: inherit;
  /* font-weight: var(--fw-bold); */
  font-size: var(--fs-h3);
  text-decoration: none;
}

.nav__link:hover{
  color: var(--clr-accent);
}

.nav-toggle {
  padding: .5em;
  height: 50px;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
  /* color: white; */
}




.nav-open .nav {
  transform: translatez(0);

  }

/* only fixed when hamburger open */
.nav-open .nav-toggle {
  position:fixed;
}

.nav-open .hamburger {
  transform: rotate(.625turn);
}

.nav-open .hamburger::before{
  transform: rotate(90deg) translatex(-6px);
}
.nav-open .hamburger::after {
  opacity: 0;
}


.hamburger {
  display: inline-block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--clr-accent);
  /* change above to change color of hamburger */
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before{ top: 6px; }
.hamburger::after{ bottom: 6px; }

/* cotainer */

.container {
  background-image: url('./imgs/IMG_6090.JPG');
  /* filter: opacity(20%); */
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: center;
}

.btn-intro {
  display: block;
  padding: 0 0 40px 0;
}









/* navbar */











/* intro section */

.intro {
  position: relative;
  flex: 0 0 100%;
  max-width: 75%;
  height: 60%;
}

.intro-container {
  background-color: rgba(var(--clr-light-rgb), 0.3);
  border-radius: 100px;
  padding: 0 0 0 4vw;
}


@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 5em;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: 1fr 1fr;
  }

  .intro__logo-text {
    /* grid-area: img; */
    /* min-width: 250px; */
    margin: auto;
  }

  .section__subtitle--intro {
    align-self: start;
    grid-column: -1/1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }

  .container {
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    /* position: absolute; */
  }

  .btn-intro {
    display: block;
    position: relative;
  }
}







/* about me */

.about-me {
  max-width: 1000px;
  margin: 0 auto;

}

.about__me--img {
  box-shadow: var(--bs);
}

.about-me a {
  display: inline-block;
  margin: 2em 2px 0px 1px;

}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 600px) {
    .about-me__container{
      display:grid;
      grid-template-columns: 1fr 40vw;
      grid-template-areas:
        "title img"
        "subtitle img"
        "text img"
        "text img"
        "text img"
        "text img";
      /* grid-column-gap: 2em; */
    }

    .section__title--about {
      grid-area: title;
    }

    .section__subtitle--about {
      grid-area: subtitle;
      position: relative;
      margin-right: 1em;
      /* left: -2em;
      width: calc(100% + 4em) */
    }

    .about-me__body {
      grid-area: text;
      padding-right: 1em;
    }

    .about-me__img {
      grid-area: img;
      box-shadow: var(--bs);
      /* max-width: 20em; */
    }
}








/* My services */

.my-services {
  background-color: var(--clr-dark);
  background-image: url("./imgs/comp_coffee_table_edited.jpg");
  background-size: cover;
  background-position: center;
  color: var(--clr-light);
  text-align: center;
}

.section__title--services {
  color: var(--clr-accent);
  position: relative;
}

.section__title--services::after {
  content: "";
  display: block;
  width: 3em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: currentColor;
  opacity: 0.25;
}

.services{
  margin-bottom: 2em;
}

.service {
  background-color: var(--clr-dark)
  /* opacity: .7; */
  max-width: 500px;
  margin: 0 auto;
}


@media (min-width: 800px) {
  .services {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1.2em;
  }

  .service + .service {
    margin-left: 2em;
  }



}





/* my work */

.my-work {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio__item {
  background: var(--clr-accent);
  overflow: hidden;
  position: relative;
}

/* text over image for individual work items */
.portfolio__item-title {
  z-index:2;
  left: 0;
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: var(--clr-light);
  background-color: rgba(var(--clr-dark-rgb), .5);
}

.portfolio__img {
  transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
  opacity 250ms linear;
}

.portfolio__item:focus {
  position: relative;
  /* z-index: 20; */
}
.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
  transform: scale(1.1);
  opacity: .7;
}
/*
.portfolio__img:hover + .portfolio__item-title ,
.portfolio__item:focus .portfolio__img + .portfolio__item-title {
  z-index: 1;
} */


.my-work .btn {
  margin: 2em 0 0 0;
}




/* footer */

.footer{
  background-color: #111;
  color: var(--clr-accent);
  text-align: center;
  justify-content: center;
  padding: 2em;
  font-size: var(--fs-h3);
}



.footer a {
  color: inherit;
  text-decoration: none;
}



.footer__link{
  font-weight: var(--fs-bold);
}

.footer__link:hover,
.social-list__link:hover {
  opacity: .5;
}

.footer__link:hover{
  text-decoration: underline;
}

.social-list-div{
  display:flex;
  justify-content: center;
  align-items: center;
}
.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 1em 0;
  padding: 0;
}

.social-list__item {
  margin: 0 1em;
}

.contact-form {
  /* padding: 2em; */
  grid-area: email;
  /* width: 1em; */
  justify-content: center;
  padding: 10px;
}

.contact-form input,
.contact-form textarea {
  border: 0;
  padding: 10px;
  background: transparent;
  border-bottom: 2px solid var(--clr-light);
  color: var(--clr-accent);
  /* color: red; */
}

.message {
  justify-content: center;
}

.contact-form button{
  display: block;
  margin:auto;
  border: none;
  width: 35vw;
  max-width: 300px;
}

.verify-submit {
  display: none;
}

@media (min-width: 600px) {
  .footer-grid {
    display: grid;
    grid-row: 20em 2em;
    grid-template-areas:
      "social email";
  }

  .social-list-div {
    grid-area: social;
  }
  .contact-form {
    /* padding: 2em; */
    grid-area: email;
    max-width: 4em;
  }
  .message{
    text-align: center;
    justify-content: center;
  }
  .contact-form button{
    display: block;
    margin: auto;
  }


  /* individual portfolio item styles */

  .portfolio-item-individual {
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
  }
}

  /* Modal */

  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;

  right: 0;
  bottom: 0;

  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: var(--clr-dark); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: var(--clr-dark);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid var(--clr-light);
  width: 75%; /* Could be more or less, depending on screen size */
  z-index: 4;
}

.modal-header {
  font-weight: 500;
  /* padding: 10px 0; */
  font-size: 2.5em;
}

.modal-body a {
 color: var(--clr-accent);
}

.modal-body a:hover{
  color: var(--clr-light);
}

/* .modal-body img {
  width: 80%;
} */

.modal-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
}

.modal-img-mobile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 60vh;
  /* width: 100%; */
}

@media (max-width: 830px){
  .modal-img-mobile {
    height: auto;
  }
}

/* The Close Button */
.close {
  color: var(--clr-accent);
  float: right;
  font-size: 1em;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--clr-light);
  text-decoration: none;
  cursor: pointer;
}
